/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header {
	position: fixed;
	width: 100%;
	height: 48px;
	padding: 0;
	margin: 0 auto;
	background-color: #897687;
	/*min-width: 600px;*/
}

nav {
	height: 100%;
}

.nav-item {
	position: relative;
	float: right;
	height: 100%;
	width: 16%;

	border-left: 2px solid;
	padding: 0 10px;
	text-align: center;
	color: #fff;
	font-size: 300%;
	line-height: 68px;
	overflow-y: hidden;
	overflow: hidden;

	&.main {
		float: left;
		border-left: 0;
		text-align: left;
	}

	a {
		color: #fff;
		text-decoration: none;
	}

}