/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'

  *= require_tree .
*/

#masonry-container {
	background: transparent;
	padding-right: -5px;
}


body {
	/*background-image: url("/assets/paper.png");*/
	background-color: #000;
	z-index: 1;
}	

/*/* Infinite Scroll loader */
/*#infscr-loading { 
  text-align: center;
  position: fixed;
  left: 45%;
  bottom: 40px;
  width: 200px;
  padding: 10px;
  background: #000; 
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}*/


img {
	/*border: solid;*/
	border-width: 1px;
	border-color: #7F7F7F;
}

.header {
	position: fixed;
	width: 100%;
	height: 48px;
	padding: 0;
	margin: 0 auto;
	background-color: rgba(219, 219, 219, .7);
	z-index: 100;

	/*min-width: 600px;*/
}

nav {
	height: 100%;
}

/*nav a:hover {
	text-decoration: none;
	color: rgb(90, 198, 174);
}*/

.nav-item {
	font-family: 'EB Garamond', serif;
	position: relative;
	float: right;
	height: 100%;
	width: 16%;

	border-left: 2px solid;
	padding: 0 10px;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	font-size: 125%;
	line-height: 50px;
	overflow-y: hidden;
	overflow: hidden;

	&.main {
		float: left;
		border-left: 0;
		text-align: left;
	}

	a {
		z-index: 100;
		color: #000;
		text-decoration: none;
	}

}

.footer {
	background-color: rgba(219, 219, 219, .7);
	clear: both;
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	height: 100px;

	div {
		padding-top: 40px;
	}
}

.browse_content {
	font-family: 'EB Garamond', serif;
}

.art_title {

	font-style: italic;
}
.artist_name {
	font-style: bold;
}


p {
	font-size: 16px;
	line-height: .9;
	color: #7F7F7F;
	text-align: left;

}
.modal-content {
	background: transparent;
}

.modal-body {
	background: rgba(219, 219, 219, .9);
	font-family: 'EB Garamond', serif;
	font-size: 1.3;
}
.modal-header {
	background: rgba(90, 198, 174, .9);
	font-family: 'EB Garamond', serif;
}
.modal-footer {
	background: rgba(90, 198, 174, .9);
	font-family: 'EB Garamond', serif;
	margin-top: 0px;
}



.figcaption {
	font-size: 16px;
}

.search_bar {
	background-color: #fff;
	margin-top: 8px;
	border: solid;
	border-color: black;
}


/*SCROLL DOWN LINK */
#scroll_down_link_container {
  font-family: 'EB Garamond', serif;
  font-size: 1.7;
  text-decoration: none;
  color:black;
  text-align: center;
  /*background-color: rgba(219, 219, 219, .9);*/
}

#scroll_down_link_container>a:hover {
  color: black;
  text-decoration: none;
}


/*.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}*/



