/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'

  *= require_tree .
*/

#masonry-container {
	background: transparent;
}

body {
	background-image: url("/assets/paper.png");
}


img {
	border: solid;
	border-width: 1px;
	border-color: #7F7F7F;
}

.header {
	position: fixed;
	width: 100%;
	height: 48px;
	padding: 0;
	margin: 0 auto;
	background-color: rgba(223, 223, 223, .7);
	/*min-width: 600px;*/
}

nav {
	height: 100%;
}

.nav-item {
	position: relative;
	float: right;
	height: 100%;
	width: 16%;

	border-left: 2px solid;
	padding: 0 10px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 130%;
	line-height: 50px;
	overflow-y: hidden;
	overflow: hidden;

	&.main {
		float: left;
		border-left: 0;
		text-align: left;
	}

	a {
		color: #fff;
		text-decoration: none;
	}

}

.footer {
	background-color: rgb(223, 223, 223);
	clear: both;
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	height: 100px;

	div {
		padding-top: 40px;
	}
}

.browse_content {
	font-family: 'EB Garamond', serif;
}

.art_title {

	font-style: italic;
}
.artist_name {
	font-style: bold;
}

p {
	font-size: 16px;
	line-height: .9;
	color: #7F7F7F;
	text-align: right;



}

/*.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}*/
